<div class="container container-small mt-3">
    <form [formGroup]="form">
        <div class="card">
            <div class="card-body">
                <div class="row mt-3">
                    <div class="col text-center">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" class="form-control" id="nome" placeholder="Digite o nome da categoria"
                                formControlName="name">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="!form.valid">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>